
<div id="scholarships-partial-container">
<h2>Scholarships</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus magna turpis, rhoncus id accumsan placerat, porta id lacus. Quisque viverra purus a fringilla pulvinar. Duis augue odio, ultricies id metus a, dapibus ullamcorper ligula. Duis a auctor felis. Proin at nisi eget ante blandit tincidunt. Ut eget accumsan turpis. Vivamus eget vulputate diam. Duis pretium enim vitae mi suscipit, vitae blandit mi porta. Proin porttitor est a consequat dignissim. Proin suscipit est orci, id molestie erat malesuada eu. Pellentesque tristique ornare tincidunt. In laoreet non elit in lobortis. Curabitur vehicula posuere magna sed tincidunt. Aenean sed imperdiet lacus, sit amet.</p>
<div id="apply-button-container">
<div class="whatwedo-partial-learn-more-button" data-learn-more-class="Scholarships" data-learn-more-id="Apply">Apply</div>
    </div>
</div>