
@using GoodtimesWeb.Models.WhatWeDo
@model EventsViewModel

<div id="selected-event-partial">
    @if (Model != null && !string.IsNullOrWhiteSpace(Model.SelectedEvent))
    {
        @Html.Partial("Events/" + Model.SelectedEvent);
    }
    else
    {
        @Html.Action("EventsPartial");
    }
</div>