

<style>
    .wine-auction-display-left-column {
        display: inline-block;
        width: 60%;
        vertical-align: top;
        padding-left: 25px;
        padding-right: 25px;
    }
    .wine-auction-display-right-column {
        display: inline-block;
        width: 35%;
        vertical-align: top;
    }
    #wine-auction-img-logo
    {
        width: 150px;
        display: block;
    }
    #wine-auction-img-wine
    {
        display:block;
    }
    .wine-auction-location
    {
        font-style: italic;
    }
    .wine-auction-location-multi
     {
        font-style: italic;
        margin: 0;
    }
    .wine-auction-short-description
    {
        text-align: center;
        color: maroon;
    }
    #wine-aution-details-pane
     {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 50px;
        width: 100%;
    }
    .wine-auction-details-links
    {
        display: block;
        padding-top: 15px;
    }

    .wine-action-long-description-strong
    {
        font-weight: bold;
    }
</style>

<div class="wine-auction-display-left-column">
    <h3>​​​​​11th Annual Goodtimes Wine Auction</h3>
    <h4>Saturday, April 5, 2014</h4>
    <p class="wine-auction-location">Washington Athletic Club, Downtown Seattle</p>
    <p class="wine-auction-short-description">A night of fine wines, superb dining and unique auction items all in an effort to support Camp Goodtimes in bettering the lives of children battling cancer.</p>
    <img id="wine-auction-img-wine" src="/Content/images/Events/wine2.png" />
    <p class="wine-action-long-description">Now in its 11th year, the Goodtimes Wine Auction has contributed more than $1.5 million to Camp Goodtimes.  Celebrating our 30th anniversary, Camp Goodtimes has been a place where children diagnosed with cancer can forget about their illness and just be kids for a week.</p>
    <p class="wine-action-long-description">The Goodtimes Wine Auction is the primary fundraiser to ensure we can make camp possible for hundreds of children each year. Last year, our generous donors helped us send 235 childhood cancer patients, survivors and their siblings to Camp Goodtimes West and allowed 15 young adult survivors to participate in the Kayak Adventure Trip. It’s amazing what one evening of fun in the name of charity can do!</p>
    <p class="wine-action-long-description">With the help of our sponsors, attendees, volunteers and YOU, we hope to raise enough money to help even more deserving children in 2014. You can support Camp Goodtimes by attending, donating to, or sponsoring the 11th Annual Goodtimes Wine Auction. All information can be found on the links to the right. We will be updating the website regularly as we approach the event, so make sure to visit us often!</p>
</div>
<div class="wine-auction-display-right-column">

    <img id="wine-auction-img-logo" src="/Content/images/Events/11thAnnualGoodtimesWineAuction_logo_maroon.png"/>


    <a class="wine-auction-details-links" href="https://goodtmsp.ejoinme.org/?tabid=509504" target="_blank">Tickets & Sponsorships</a>
    <a class="wine-auction-details-links" href="https://goodtmsp.ejoinme.org/?tabid=509505" target="_blank">Donate Items</a>
    <h4>​Featured Wineries</h4><br>*Coming Soon
    <h4>Live Auction Items</h4><br>*Coming soon
    <h4>Meet the Hosts</h4><br>*Coming soon

    For more information, please contact<br>
    <a href="mailto:WineAuction@thegoodtimesproject.org">WineAuction@thegoodtimesproject.org</a>
</div>
<div id="wine-aution-details-pane">
    <h3>Addtional Details</h3>
    <p class="wine-auction-location-multi">Washington Athletic Club, Downtown Seattle</p>
    <p class="wine-auction-location-multi">1325 6th Ave, Seattle, WA 98101</p>
    <p class="wine-action-long-description">5:00 PM Doors Open, silent auction opens</p>
    <p class="wine-action-long-description">
        7:00 PM Dinner Program Begins (Please include any dietary restrictions on your ticket order)</p>
    <p class="wine-action-long-description">
        7:30 PM Live Auction Begins</p>
    <p class="wine-action-long-description">
        9:00 PM Dancing and Entertainment</p>
    <p class="wine-action-long-description-strong">
        Black Tie Optional</p>
    <p class="wine-action-long-description">For questions or more detail, please contact: <a href="mailto:WineAuction@thegoodtimesproject.org">WineAuction@thegoodtimesproject.org</a></p>


</div>
