@{
    ViewBag.Title = "JoinUs";
}

<img id="join-us-image" src="/Content/images/slides/one.jpg"/>

<div id="join-us-intro-container">
<p class="join-us-intro">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>
</div>

<img id="join-us-image-small" src="/Content/images/slides/two.jpg"/>

<div id="join-us-intro-quote-container">
<p class="join-us-intro-quote">
"A beginning is the time for taking the most delicate care that the balances are correct. This every sister of the Bene Gesserit knows. To begin your study of the life of Muad’Dib, then, take care that you first place him in his time: born in the 57th year of the Padishah Emperor, Shaddam IV. And take the most special care that you locate Muad’Dib in his place: the planet Arrakis. Do not be deceived by the fact that he was born on Caladan and lived his first fifteen years there. Arrakis, the planet known as Dune, is forever his place."
</p>
<p class="join-us-intro-quote">—FROM “MANUAL OF MUAD’DIB”<br />
BY THE PRINCESS IRULAN</p>
</div>
<div id="join-us-waiting-for-container">
    <p class="join-us-waiting-for">What are you waiting for?</p>
</div>

<div id="join-us-camps-and-events-button"><p>CHECK OUT OUR CAMPS AND EVENTS</p></div>
@Scripts.Render("~/bundles/JoinUs")
