#camps-nav-container
{
    position: relative;
}

#menuPositioner
{
    width: 475px;
    position: absolute;
    top: 405px;
    margin-left:403px;
}

#camp-title-block
{
    width: 475px;
    position: absolute;
    top: 105px;
    margin-left:360px;
    color: #333333;
    background-color: rgba(242,242,242,0.6);
}
    #camp-title-block h2
    {
        text-align: center;
        font-size: 32pt;
        margin: 10px;
    }
    #camp-title-block h4
    {
        text-align: center;
        font-size: 24pt;
        margin: 0;
    }

.goodtimes-content
{
    display:none;
}

.camp-content-paragraph
{
    width:60%;
    margin:auto;
}

.camp-volunteer-title
{
    text-align: center;
}

.camp-volunteer-stack-container
{
    width: 60%;
    margin: 50px auto 100px;
}

.camp-volunteer-stack-title
{
    text-align: center;
}
.camp-volunteer-stack-description
{
    text-align: center;
}
.camp-volunteer-stack-mebutton
{
    width: 150px;
    height: 45px;
    margin: auto;
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 25px;
    font-weight: 800;
}

.camp-volunteer-stack-mebutton:hover
{
    cursor: pointer;
    color: white;
}

#camp-footer-paragraph,
#camp-intro-paragraph
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.camp-camper-signup
{
    background-color: #cccccc;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height: 35px;
    padding-top: 19px;
    margin: auto;
}

.camp-camper-signup:hover
{
    cursor:pointer;
    color:white;
}

#camp-info-block-container
{

    width: 958px;
    margin: 50px auto;
}

.camp-info-block
{
    display:inline-block;
    width: 300px;
    text-align: center;
}

.camp-info-block p
{
    background-color: #F2F2F2;
    padding: 5px;
}

.camp-info-block-spacer
{
    display:inline-block;
    width: 20px;
}