#join-us-image
{
    width: 1280px;
    height: 465px;
}

#join-us-image-small
{
    margin-top: 50px;
    display: block;
    width: 80%;
    margin: 50px auto;
}

#join-us-intro-container
{
    width: 60%;
    margin: 50px auto;
}
.join-us-intro
{
    text-align: center;
    font-size: 14pt;
}

#join-us-intro-quote-container
{
    width: 60%;
    margin: 50px auto;
}
.join-us-intro-quote
{
    text-align: center;
    font-size: 14pt;
}

#join-us-waiting-for-container
{
    width: 60%;
    margin: 50px auto 5px;
}

.join-us-waiting-for
{
    text-align: center;
    font-size: 22pt;
    margin: 0;
}

#join-us-camps-and-events-button
{
    margin: 5px auto;
    background-color: #F2F2F2;
    width: 340px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}

#join-us-camps-and-events-button:hover
{
    cursor: pointer;
}