#news-page-container
{
    width: 80%;
    margin: 20px auto 1px;

}

.news-page-article-title
{
    width: 80%;
    margin: auto;
    text-align: center;
}

.news-page-article-date
{
    width: 80%;
    margin: auto;
    text-align: center;
}

.news-page-aricle-description
{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

#news-page-loading-box
{
    width: 80%;
    margin: auto;
    text-align: center;
}