

@media all /*and (min-width: 1000px)*/
{
    body
    {
        font-family: "Open Sans", sans-serif, "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
        background-color: #cccccc;
        margin: 0px;
    }

    #content-container
    {
        max-width: 1280px;
        width: 1280px;
        margin: auto;
        background-color: white;
    }

    /* Begin styles for the title banner */
    #title-banner
    {
    }
    
    #action-banner-positioner
    {
        width: 80%;
        margin: auto;
        overflow: hidden;
        height: 1%;
    }

    #action-nav-title-container
    {
        display:inline;
        float: left;
        margin-left: 100px;
    }
    #action-nav-title-container img
    {
        border: 0;
        height: 60px;
    }

    #action-nav-menu-container
    {
        display:inline;
        float:right;
        margin-right: 100px;
        padding-top: 10px;
    }

    #action-nav-menu
    {
        list-style-type: none;
    }

    #action-nav-menu li
    {
        display: inline;
    }

    #action-nav-menu li a,
    #action-nav-menu li a:hover,
    #action-nav-menu li a:active,
    #action-nav-menu li a:visited,
    #action-nav-menu li a:link
    {
        text-decoration: none;
        padding: 10px 25px;
        margin: 5px;
        background-color: #cccccc;
        color: #333333;
        border-radius: 4px;
    }

    #info-banner-positioner
    {
        width: 100%;
        background-color: #F2F2F2
    }

    #info-banner-container 
    {
        padding: 8px 0px;
        margin: auto;
        width: 60%;
    }

    #info-nav-menu
    {
        list-style-type: none;
margin-left: 120px;
margin-top: 5px;
margin-bottom: 5px;
        padding: 0;
    }

    #info-nav-menu li
    {
        display: inline;
        padding: 5px 15px;
    }

    #info-nav-menu li a,
    #info-nav-menu li a:hover,
    #info-nav-menu li a:active,
    #info-nav-menu li a:visited,
    #info-nav-menu li a:link
    {
        text-decoration: none;
        margin: 5px;
        color: #333333;
    }
    
    /* End Styles for the title banner */

    /* Begin Index page content styling*/
    #slideshow-container {
        height: 475px;
    }

    /* container is 60% width and 70px high*/
    #slideshow-action-menu-container {
        position: relative;
        width: 768px;
        top: 405px;
        margin: auto;
        text-align: center;
        display: none;
    }

    .slideshow-action-menu-container-menuitem {
        text-align: center;
        display: inline-block;
        opacity: 1.0;
        background-color: #F2F2F2;
        width: 200px;
        height: 40px;
        margin: 10px;
        overflow: hidden;
        color: #333333;
        padding-top: 20px;
    }

    .slideshow-action-menu-container-menuitem:hover
    {
        cursor: pointer;
    }

    #news-article-container {
        width: 100%;        /* TODO: play with Width% in jquery for fewer than three articles, width is 25% for 1 article, 50% for 2 articles, 75% for 3 articles, we show no more than three at a time */
        height: 241px;
        text-align: center;
    }

    .news-article-box {
        text-align: left;
        display: inline-block;
        background-color: #F2F2F2;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
        height: 236px;
        overflow: hidden;
    }

    .news-article-box-pre{
        position: absolute;
        left: -1000px;
        text-align: left;
        display: inline-block;
        background-color: #F2F2F2;
        padding: 0, 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
    }

    .news-article-title {
        font-size: 18pt;
        line-height: 1.8em;
        height: 1.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .news-article-date {
        font-size: 14pt;
        line-height: 1.8em;
        height: 1.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .news-article-content-spacer
    {
        height: 115px;
    }
    .news-article-content {
        font-size: 12pt;
        text-overflow:ellipsis;
        word-wrap: break-word;
        overflow: hidden;
    }
    .news-article-more-link {
        text-decoration: none;
        padding: 10px 25px;
        background-color: #cccccc;
        color: #333333;
        border-radius: 4px;
    }    /* End Index page styling*/

    /* Begin footer styling */
   #footer-container {
        height: 75px;     
        background-color: #4a4d4a;   
        text-align: center;
        
    }

   #footer-content {
        font-size:12pt;
        padding-top: 20px;
        color: #cccccc;
        margin: 20px;

    }

   /* End footer styling */


}
