/*
    Site CSS
    copyright 2014, mikedice417@hotmail.com
*/

/* Large screen styles */
@media all /*and (min-width: 1000px)*/ {
   body
   {
        font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
   }


    #about-us, 
    #contact-us-holder,
    #donate-now-holder,
    #donation-in-honor-of-holder,
    #donation-inkind-holder
    {
        font-size: 12pt;
        color: #336699;
        margin: 20px;
    }

    #about-us h1
    #contact-us-holder h1,
    #donate-now-holder h1,
    #donation-in-honor-of-holder h1,
    #donation-inkind-holder h1
    {
        color: #336699
    }


    #index-page-article
    {
        font-size: 14pt;
        color: #336699;
        margin: 20px;
    }
    #index-page-article h1
    {
        color: #336699;
        text-align: center;
    }

    #index-page-article h2
    {
        color: red;
        text-align: center;
    }

    #big-link
    {
        font-size: 18pt;
        color: red;
        font-weight: bold;
        text-align: center;
        display:block;
        margin:auto;
    }
   #content-pane {
        margin: 20px;
        min-width: 1024px;
        background-color: white;
    }
    
    #title-banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #title-banner-image
    {
        display: block;
        margin: auto;
    }    

    #title-banner-menu{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        padding-left: 20px;
    }
    
    #title-banner-menu li{
        display: inline;
    }
    
    #title-banner-menu li a{
        padding-right: 10px;
        text-decoration: none;
    }

    #donate-menu
    {
        display: none;
        position: absolute;
        left: 180px;
        width: 150px;
        min-width: 100px;
        font-size: small;
        z-index: 500;
    }

    .slider-container
    {
        height: 300px;
    }

    #slider
    {
        width: 60%;
        max-width: 630px;
	    margin: 5px auto;
    }

    .slide-image
    {

    }

    #newsletter
    {
        width: 80%;
        height: 800px;
        margin: 20px 20px;
        border:1px solid #CCC;
        border-width:1px 1px 0;
    }

    #newsletter-caption
    {
        margin: 5px 20px;
    }

    #title-banner-menu li a:visited, a:link, a:active{
        padding-right: 10px;
        text-decoration: none;
        color: purple;
    }
    
    #title-banner-menu li a:hover{
        padding-right: 10px;
        text-decoration: none;
        color: lightgrey;
    }
    
    #blog-feed-container {
        background-color:green;
        float: left;
        width: 20%;
        height: 650px;
        clear: both;
        color: purple;
    }
    
    #gallery-list {
        background-color:black;
        float: left;
        width: 20%;
    }

    #gallery-menu {
        padding-left:10px;
        padding-top: 10px;
        margin: 0px;
        width: 100%;
        list-style: none;
    }
    
    #gallery-menu-link {
        text-decoration: none;
        font-size: 24px;
    }
    
    #gallery-list-anchor{
        display: block;
        width: 80%;
        
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
        padding-left: 6px;
        margin-left: 5px;
        background-image: url("../images/smoke.png");
        text-decoration: none;
    }
    
    #gallery-list-anchor:visited, #gallery-list-anchor:active, #gallery-list-anchor:link{
        color: purple;
        border-color: black;
    }
    
    #gallery-list-anchor:hover{
        color: purple;
        border-color: blue;
    }

    #footer {
        background-image: url("../images/Footer.png");
        clear: both;
        width: 100%;
        height: 40px;
    }

    #splash-screen {
        background-color:black;
        float: left;
        width: 80%;
    }
    
    #photo-gallery {
        height: 600px;
        width: 100%;
    }
    
    #rotator {
        list-style: none;
        padding: 0px;
        margin: 0px;
        height: 580px;
    }
    
    #rotator_wrapper
    {
        height: 580px;
    }
    
    #rotator-controls
    {
        vertical-align: bottom;
    }
    
    .rotator-image-item{
        max-height: 580px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
    
    .thumbnail-anchor
    {
      float:left;
    }
    
    #slides-container
    {
      display: none;
    }
  
}


/* Small screen styles 
@media all and (max-width: 999px) {
  

}
    */