#volunteer-nav-container
{
    position:relative;
}

.volunteer-intro-container
{
    width: 60%;
    margin: 50px auto;
}

.volunteer-intro
{
    text-align: center;
    font-size: 14pt;
}

.volunteer-title
{
    text-align: center;
}

.volunteer-stack-container
{
    width: 60%;
    margin: 50px auto 100px;
}

.volunteer-stack-title
{
    text-align: center;
}
.volunteer-stack-description
{
    text-align: center;
}
.volunteer-stack-mebutton
{
    width: 150px;
    height: 45px;
    margin: auto;
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 25px;
    font-weight: 800;
}

.volunteer-stack-mebutton:hover
{
    cursor: pointer;
}

#YearRoundContent
{
    display:none;
}

#CampAndEventContent
{
    display:none;
}