#whatwedo-nav-container
{
    position: relative;
}

#whatwedo-menuPositioner
{
    width: 775px;
    position: absolute;
    top: 405px;
    margin-left:270px;
}

#whatwedo-loading-content
{
    display: none;
}

.camp-summary-right,
.camp-summary-left
{
    width: 80%;
    margin: auto;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.left-col,
.right-col
{
    display: inline-block;
}

.camp-summary-right .camps-membership-label,
.camp-summary-left .camps-membership-label
{
    background-color: #F2F2F2;
    text-align: center;
}


.camp-summary-right h2,
.camp-summary-left h2
{
    margin-top: 5px;
    margin-bottoM: 5px;
}

.camp-summary-right h4,
.camp-summary-left h4
{
    margin-top: 5px;
    margin-bottoM: 5px;
}

.camp-summary-right p,
.camp-summary-left p
{
    margin-top: 5px;
    margin-bottom: 12px;
    height: 130px;
    overflow:hidden;
}

.camps-learn-more-button
{
    background-color: #cccccc;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    height: 35px;
    padding-top: 19px;
}

.camps-learn-more-button:hover
{
    cursor:pointer;
    color:white;
}

/* camp summary on the right*/
.camp-summary-right .left-col
{
    width:75%;
    vertical-align: top;
}

.camp-summary-right .left-col img
{
    width: 100%;
}

.camp-summary-right .right-col
{
    width:20%;
    padding-left: 20px;
}

/* camp summary on the left*/
.camp-summary-left .left-col
{
    width:19%;
    vertical-align: top;
}

.camp-summary-left .right-col img
{
    width: 100%;
}

.camp-summary-left .right-col
{
    width:80%;
}

