@{
    ViewBag.Title = "Connect";
}

<div id="connect-container">
    <h4>Questions</h4>
    <a href="mailto:questions@thegoodtimesproject.org">questions@thegoodtimesproject.org</a>
    <div class="spacer"></div>

    <h4>Media</h4>
    <a href="mailto:media@thegoodtimesproject.org">media@thegoodtimesproject.org</a>
    <div class="spacer"></div>

    <h4>Phone</h4>
    <p class="info-text">555.555.5555</p>
    <div class="spacer"></div>

    <h4>Office</h4>
    <p class="info-text">555 West 5th</p>
    <p class="info-text">Suite 555</p>
    <p class="info-text">Seattle WA 99999</p>
    <div class="spacer"></div>
</div>
