
<!-- The Camps partial page is displayed inside the 'WhatWeDo' index page
     along with all the other partials for WhatWeDo. Currently the partials
     for Camps,Events and Scholorships are hosted in the WhatWeDo index page.-->
<div id="whatwedo-partial-container">
    <div class="whatwedo-partial-summary-right">
        <div class="left-col">
            <img class="whatwedo-partial-image" src="/Content/images/slides/six.jpg" />
        </div>
        <div class="right-col">
            <div class="whatwedo-partial-membership-label">EVERYONE WELCOME</div>
            <h2>Camp Gootimes</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="whatwedo-partial-learn-more-button" data-learn-more-class="Camps" data-learn-more-id="GoodTimes">LEARN MORE</div>
        </div>
    </div>
    <div class="camp-summary-left">
        <div class="left-col">
            <div class="whatwedo-partial-membership-label">EVERYONE WELCOME</div>
            <h2>Kayak Camp</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="whatwedo-partial-learn-more-button" data-learn-more-class="Camps" data-learn-more-id="Kayak">LEARN MORE</div>
        </div>
        <div class="right-col">
            <img class="whatwedo-partial-image" src="/Content/images/slides/seven.jpg" />
        </div>
    </div>
    <div class="whatwedo-partial-summary-right">
        <div class="left-col">
            <img class="whatwedo-partial-image" src="/Content/images/slides/eight.jpg" />
        </div>
        <div class="right-col">
            <div class="whatwedo-partial-membership-label">EVERYONE WELCOME</div>
            <h2>Ski Camp</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="whatwedo-partial-learn-more-button" data-learn-more-class="Camps" data-learn-more-id="Ski">LEARN MORE</div>
        </div>
    </div>

</div>