

<div id="camps-container">
    <div class="camp-summary-right">
        <div class="left-col">
            <img class="camps-image" src="/Content/images/slides/six.jpg" />
        </div>
        <div class="right-col">
            <div class="camps-membership-label">EVERYONE WELCOME</div>
            <h2>Camp Gootimes</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="camps-learn-more-button" data-learn-more="GoodTimes">LEARN MORE</div>
        </div>
    </div>
    <div class="camp-summary-left">
        <div class="left-col">
            <div class="camps-membership-label">EVERYONE WELCOME</div>
            <h2>Kayak Camp</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="camps-learn-more-button" data-learn-more="Kayak">LEARN MORE</div>
        </div>
        <div class="right-col">
            <img class="camps-image" src="/Content/images/slides/seven.jpg" />
        </div>
    </div>
    <div class="camp-summary-right">
        <div class="left-col">
            <img class="camps-image" src="/Content/images/slides/eight.jpg" />
        </div>
        <div class="right-col">
            <div class="camps-membership-label">EVERYONE WELCOME</div>
            <h2>Camp Gootimes</h2>
            <h4>Date</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet orci nec nulla molestie placerat vel id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et purus nec orci varius blandit eu sit amet nulla. Sed vitae tincidunt lectus. Phasellus pharetra sapien a magna accumsan, quis mollis diam commodo. Praesent tincidunt, elit ac imperdiet vestibulum, elit dui fermentum purus, ut ornare ligula mauris ac libero. Quisque a bibendum tortor. Suspendisse convallis quam dolor, eu lacinia magna euismod at. Nulla sem lorem, pel</p>
            <div class="camps-learn-more-button" data-learn-more="Ski">LEARN MORE</div>
        </div>
    </div>

</div>