

<div class="kayak-content" id="camp-partial-details">
    <p class="camp-content-paragraph" id="camp-intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut purus risus, sodales et velit eget, fermentum tristique elit. Duis quis porta purus, eget interdum mauris.</p>
    <div class="camp-camper-signup" data-camp-signup="Kayak">CAMPER SIGN UP</div>
    <div id="camp-info-block-container">
        <div class="camp-info-block"><H4>WHO</H4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
        <div class="camp-info-block-spacer"></div>
        <div class="camp-info-block"><H4>WHEN</H4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
        <div class="camp-info-block-spacer"></div>
        <div class="camp-info-block"><H4>WHERE</H4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    </div>

    <p class="camp-content-paragraph" id="camp-footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut purus risus, sodales et velit eget, fermentum tristique elit. Duis quis porta purus, eget interdum mauris.</p>

</div>

<div class="kayak-content" id="camp-volunteer-details">
    <p class="camp-content-paragraph">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>


    <h2 class="camp-volunteer-title">CAMP VOLUNTEER ROLES</h2>
    <div class="camp-volunteer-stack-container">
        <h2 class="camp-volunteer-stack-title">Muscle</h2>
        <p class="camp-volunteer-stack-description">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>
        <div class="camp-volunteer-stack-mebutton" id="camp-volunteer-muscle">THATS ME!</div>
    </div>

    <div class="camp-volunteer-stack-container">
        <h2 class="camp-volunteer-stack-title">Spontanator</h2>
        <p class="camp-volunteer-stack-description">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>
        <div class="camp-volunteer-stack-mebutton" id="camp-volunteer-spontanator">THATS ME!</div>
    </div>

    <div class="camp-volunteer-stack-container">
        <h2 class="camp-volunteer-stack-title">Activity Coordinator</h2>
        <p class="camp-volunteer-stack-description">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>
        <div class="camp-volunteer-stack-mebutton" id="camp-volunteer-activitycoordinator">THATS ME!</div>
    </div>

    <div class="camp-volunteer-stack-container">
        <h2 class="camp-volunteer-stack-title">Anything!</h2>
        <p class="camp-volunteer-stack-description">In the week before their departure to Arrakis, when all the final scurrying about had reached a nearly unbearable frenzy, an old crone came to visit the mother of the boy, Paul. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather. It was a warm night at Castle Caladan, and the ancient pile of stone that had served the Atreides family as home for twenty-six generations bore that cooled-sweat feeling it acquired before a change in the weather.</p>
        <div class="camp-volunteer-stack-mebutton" id="camp-volunteer-anything">THATS ME!</div>
    </div>
</div>
