/*Font defaults*/
/* Font colors */
/* Grays */
/* General Colors */
/* Link Colors */
.BodyFont {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #a6b1cc;
}
/* Some default elements */
h1 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #474b59;
}
h2 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: #474b59;
}
h3 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #474b59;
}
body {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #a6b1cc;
  margin: 0;
}
#content-container {
  position: relative;
  top: -70px;
}
#page-body {
  width: 1280px;
  margin: auto;
}
