@{
    ViewBag.Title = "WhatWeDo";
}

<div id="whatwedo-nav-container">
    <img id="whatwedo-image" src="/Content/images/slides/four.jpg" />
    <div id="whatwedo-menuPositioner">
        <div class="tabButtons" id="whatwedo-camps">
            <p>CAMPS</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
        <div class="tabButtons" id="whatwedo-events">
            <p>EVENTS</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
        <div class="tabButtons" id="whatwedo-scholorships">
            <p>SCHOLARSHIPS</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
    </div>
</div>

<div id="whatwedo-content"></div>
@Scripts.Render("~/bundles/WhatWeDo")
