@{
    ViewBag.Title = "WhatWeDo";
}

<h2>WhatWeDo</h2>

<div id="whatwedo-nav-container">
    <img id="whatwedo-image" src="/Content/images/slides/four.jpg" />
    <div id="whatwedo-menuPositioner">
        <div class="tabButtons" id="whatwedo-camps">
            <p>HISTORY</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
        <div class="tabButtons" id="whatwedo-events">
            <p>STAFF & BOARD</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
        <div class="tabButtons" id="whatwedo-scholorships">
            <p>DONORS</p>
            <img class="tabButtonsImage" src="/Content/images/layout/tab-triangle.png" />
        </div>
    </div>
</div>

<div id="whatwedo-content"></div>

@Scripts.Render("~/bundles/WhatWeDo")
