@{
    ViewBag.Title = "AboutUs";
}

<div id="about-us">
<h1>History of The Goodtimes Project</h1>
<p>For 30 years, Camp Goodtimes was funded and operated by the American Cancer Society (ACS). &#160;In&#160;March 2013, the ACS announced a national shift in spending whereby funding for programs not directly associated with research, including oncology camps, would be eliminated by year-end. Upon hearing the news, friends and volunteers of camp formed The Goodtimes Project to generate funds and operate camp for the 2014 season and beyond. We are excited to strike out as&#160;an independent, grass-roots​ non-profit organization that maintains the standard of excellence that Camp Goodtimes has upheld for the past three decades.&#160; </p>
<p>
   <span style="line-height: 20px;">We are grateful to the American Cancer Society for 30 years of funding and camp excellence</span><span style="line-height: 20px;">​. &#160;We wouldn&#39;t be here without you. &#160;Thank you to the great ACS&#160;staff and donors who have supported us!</span><br/></p>
<h1 style="text-align: left;">Camp Goodtimes Programming</h1>
<p>Camp Goodtimes&#39;s programming includes a no-cost pediatric oncology camp for patients, survivors and siblings affected by cancer. &#160;We welcome campers from western Washington and Alaska, ages 7-17, for two separate weeks of residential overnight summer camps and a weeklong kayak trip for young adult survivors.&#160; Each year we serve around 225 children and 15 young adults.&#160; A dedicated staff of 150 volunteers and two employees support all three programs.</p>
<h1>Mission</h1>
<p>The Goodtimes Project&#160;exists to offer Western Washington and Alaska families affected by childhood cancer a cost-free week of summer camp, which: </p>
<ul>
   <li>Affirms the joys of childhood (often missed by those in treatment)</li>
   <li>Fosters friendships between these children and families</li>
   <li>Instills confidence in these children through a host of programs and activities</li>
   <li>Cares for their medical safety</li>
   <li>Cares for their social safety</li>
   <li>Strives to send them back into the world as more independent, confident, caring and capable people.</li>
   <li>Offers parents peace of mind as they entrust their children to camp for a week (and take a well-deserved break!)</li>
</ul>
<h1>​​Future</h1>
<p>Our future vision expands our outreach&#160;into an organization that serves all aspects of the community affected by childhood cancer, such as:</p>
<ul>
   <li>Patient, sibling, teen and family events and retreats</li>
   <li>Organized services and visits to pediatric oncology wards at Western Washington and Alaska hospitals.</li>
   <li>
      <span style="line-height: 20px;">Year-round activities&#160;to sustain community, provide support, and give patients, survivors, and siblings opportunities to laugh, play, sing and dance, make friends, meet mentors, and take back some of the &quot;normalcy&quot; that childhood cancer steals away.</span></li>
</ul>
<h1>Board of Directors</h1>
<table class="ms-rteTable-0" cellspacing="0" style="width: 700px; height: 191px;">
   <tbody>
      <tr class="ms-rteTableEvenRow-0">
         <td class="ms-rteTableEvenCol-0" style="width: 100px; height: 127px;">
            <img src="/Content/images/staff/BaconHeadshot.jpg" alt="bacon" style="margin: 5px;"/>
         </td>
         <td class="ms-rteTableOddCol-0" style="width: 250px; height: 127px;">
            <h2>Brick &quot;Bacon&quot; Spangler</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" style="width: 325px; height: 127px;">
            <p>Bio- Environmental Program Manager at the Port of Seattle, Seaport division.&#160; On staff at Camp Goodtimes since 2006</p>
         </td>
      </tr>
      <tr class="ms-rteTableOddRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <img src="/Content/images/staff/jon.jpg" alt="Jon" style="margin: 5px;"/>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Jonathan &quot;The Finance Guy&quot; Werner</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">​Works at Amazon.com as the Director, AWS Finance for Apps, Games, and Services.&#160; Parent of Micheala, 2x camper and leukemia survivor.</td>
      </tr>
      <tr class="ms-rteTableEvenRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h2>
               <img src="/Content/images/staff/puck.jpg" alt="puck" style="margin: 5px;"/>
            </h2>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Corrine &quot;Pu​ck&quot; Hoeppner, ARNP</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>​Oncology Nurse and Nurse Practitioner since 1988.&#160; Currently on staff in the Oncology Clinic at Seattle Children’s Hospital. Has participated in Oncology camps since 1991, medical staff at Camp Goodtimes since 2001.</p>
         </td>
      </tr>
      <tr class="ms-rteTableEvenRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h3>
               <img src="/Content/images/staff/weezerphoto.jpg" alt="weezer" style="margin: 5px;"/>
            </h3>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Erin &quot;Weezer&quot; Wilson</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>Has a masters degree in counseling psychology.&#160; Works in Special Education for the Seattle Public Schools.&#160; Has been on staff with Camp Goodtimes since 2002.</p>
         </td>
      </tr>
      <tr class="ms-rteTableOddRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h3>​<img src="/Content/images/staff/kylephoto.jpg" alt="kyle" style="margin: 5px;"/></h3>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Kyle &quot;Wasabi&quot; Krum</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>​Works for Microsoft in Advanced Strategies and Research as a Senior Program Manager. Has been on staff at Camp Goodtimes since 2005</p>
         </td>
      </tr>
      <tr class="ms-rteTableOddRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h3>​<img src="/Content/images/staff/wings.jpg" alt="wings" style="margin: 5px;"/></h3>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Alia &quot;Wings&quot; Ahmed</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>​Alia is an attorney and partner at the Bellevue Office for Wong Fleming.&#160; Alia received a Bachelor of Arts from the University of Washington in English and Political Science and her Juris Doctor from Seattle University School of Law.&#160; Alia began volunteering at Camp Goodtimes in 2001.</p>
         </td>
      </tr>

   </tbody>
</table>
<h1>Staff</h1>
<table class="ms-rteTable-0" cellspacing="0" style="width: 700px; height: 191px;">
    <tbody>
      <tr class="ms-rteTableOddRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h3>​<img src="/Content/images/staff/carolwebsitepic.jpg" alt="carol" style="margin: 5px;"/></h3>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​​Carol&#160;&quot;Domino&quot; Mastenbrook</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>Executive Director for The Goodtimes Project. Carol&#160;is responsible for establishing business operations and for fund development.&#160;&#160;Carol&#160;brings over twenty years of executive leadership and consulting for non-profit and for-profit organizations.&#160; A former human resources executive, Carol stepped out of corporate work and began working with non-profits in order to better serve her community.<br/></p>
         </td>
      </tr>
      <tr class="ms-rteTableOddRow-0">
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 100px;">
            <h3>​<img src="/Content/images/staff/GusBeefPeterson.jpg" alt="beef" style="margin: 5px;"/></h3>
         </td>
         <td class="ms-rteTableOddCol-0" rowspan="1" style="width: 250px;">
            <h2>​Gus&#160;&quot;Beef&quot;&#160;Peterson</h2>
         </td>
         <td class="ms-rteTableEvenCol-0" rowspan="1" style="width: 325px;">
            <p>Director of Programming&#160;for The Goodtimes Project. Gus&#160;brings varied&#160;experience in event production, volunteer empowerment and leadership, and all aspects of summer camp.&#160; At every step in his career, he has found resonance in simply engaging passionate people towards purposeful and tangible goals.<br/></p>
         </td>
      </tr>
    </tbody>
</table>

</div>