@{
    ViewBag.Title = "ContactUs";
}

<div id="contact-us-holder">

    <h1>​​Questions</h1>

<a href="info@thegoodtimesproject.org">info@thegoodtimesproject.org</a>


<h1>Mailing Address​</h1>

​The Goodtimes Project<br />


4616 25th Ave NE, PMB 461<br />

Seattle, WA  98105<br />

<h1>​Media</h1>

Please direct all media inquiries to <a href="Kristin.Oke@edelman.com">Kristin.Oke@edelman.com</a>

</div>
