@{
    ViewBag.Title = "DonateNow";
}

<div id="donate-now-holder">
    <h1>​​​​​Make a Donation</h1>
<span style="line-height: 20px;">The Goodtimes Project is committed to keeping camp cost-free for&#160;Western Washington and Alaskan families of&#160;kids with cancer and we need your help. &#160;The cost of service is $1,700 per child. &#160;Our goal is to raise $500,000 to carry out the same level of service for 2014 and beyond. &#160;This includes raising funds for camp, supplies, materials, facility rentals, plane tickets for Alaska campers, ground transportation, medical supplies, food and lodging.</span>
<div>
   <span style="line-height: 20px;"><br/></span>&#160;</div>
<div style="text-align: left;">
   <div style="text-align: center;">
      <span style="line-height: 20px;"><strong>The success of camp relies on the generosity of our donors and sponsors​. &#160;Thank you for&#160;making a difference in the lives of deserving children and their families.</strong><br/></span></div>
   <div style="text-align: center;">
      <strong style="line-height: 1.6;">​</strong><a href="https://goodtmsp.ejoinme.org/MyPages/DonationPage/tabid/485111/Default.aspx" target="_blank" style="line-height: 1.6;"><span class="ms-rteFontSize-4"><strong>Click here</strong></span></a><span class="ms-rteFontSize-4">&#160;for&#160;online donations</span></div>
   <div style="text-align: center;">
      <span style="line-height: 1.6; font-size: 18pt;">Or By Ma</span><span style="line-height: 1.6; font-size: 18pt;">il:</span></div>
   <div style="text-align: center;">
      <strong>​4616 25th Avenue NE, PMB 461</strong></div>
   <div style="text-align: center;">
      <strong>Seattle, WA 98105</strong></div>
   <div style="text-align: center;">
      <h4>​​​​<br/></h4>
      <p>
         <em style="line-height: 1.6;">$1,700 funds one child&#39;s week at camp</em><br/></p>
      <p>
         <em>$500 funds an out-of-town child&#39;s transportation costs</em></p>
      <p>
         <em>$250 funds one child for a day at camp</em></p>
      <p>
         <em>$100 provides needed medical supplies</em></p>
      <p>
         <em>$50 funds arts and crafts supplies</em></p>
   </div>
   <p dir="ltr">TGP qualifies as a 501(c)3 and contributions are&#160;tax-deductible as&#160;allowed&#160;by law.​&#160;</p>
   <h1>Wish List</h1>
   <p>In-kind donations of materials are always appreciated to support our camps.&#160;Please view our 
      <a href="/Pages/In-Kind.aspx" target="_blank">
         <strong>In-Kind Donation</strong> </a>page for a list of items we currently need.</p>
   <p>
      <span class="ms-rteFontSize-1" id="ms-rterangepaste-start">​</span><span class="ms-rteFontSize-1">Thank you for supporting The Goodtimes Project.&#160;&#160; The Goodtimes Project is registered with Washington State’s Charities Program as required by law and additional information is available by calling 800-332-4483 or visiting </span>
      <a href="http://www.sos.wa.gov/charities">
         <span class="ms-rteFontSize-1">www.sos.wa.gov/charities</span></a><span class="ms-rteFontSize-1">&#160;</span></p>
</div>

</div>
