@{
    ViewBag.Title = "Home";
}
          

<div id="content-pane">
        <div id="slideshow-container">
             <div class="slider-container theme-default">
                <div class="ribbon"></div>

                <div id="slider" class="nivoSlider">
                    <img class="slide-image" src="/Content/images/slides/one.jpg" alt="" title="#slideshow-action-menu-container" />
                    <img class="slide-image" src="/Content/images/slides/two.jpg" alt="" title="#slideshow-action-menu-container"  />
                    <img class="slide-image" src="/Content/images/slides/three.jpg" alt="" title="#slideshow-action-menu-container" />
                    <img class="slide-image" src="/Content/images/slides/four.jpg" alt=""  title="#slideshow-action-menu-container"/>
                    <img class="slide-image" src="/Content/images/slides/five.jpg" alt=""   title="#slideshow-action-menu-container" /> 
                    <img class="slide-image" src="/Content/images/slides/six.jpg" alt=""   title="#slideshow-action-menu-container"/> 
                    <img class="slide-image" src="/Content/images/slides/seven.jpg" alt="" title="#slideshow-action-menu-container" /> 
                    <img class="slide-image" src="/Content/images/slides/eight.jpg" alt="" title="#slideshow-action-menu-container" /> 
                    <img class="slide-image" src="/Content/images/slides/nine.jpg" alt=""   title="#slideshow-action-menu-container"/> 
                </div>

                <div id="slideshow-action-menu-container" class="nivio-html-caption">
                    <div id="slideshow-action-menuitem-joinus" class="slideshow-action-menu-container-menuitem">JOIN US</div>
                    <div id="slideshow-action-menuitem-volunteer" class="slideshow-action-menu-container-menuitem">VOLUNTEER</div>
                    <div id="slideshow-action-menuitem-donate" class="slideshow-action-menu-container-menuitem">DONATE</div>
                </div>

            </div>
    </div>

        <div id="news-article-container">
            <!-- News articles dynamically added here in sitecontroller.js -->
        </div>
    
    <div id="footer"></div>
</div>

@Scripts.Render("~/bundles/external/jquery.nivo.slider")
@Scripts.Render("~/bundles/HomePage")