@{
    ViewBag.Title = "Home";
}
          
<h1>The quick brown fox jumps over the lazy dog</h1>
<h2>The quick brown fox jumps over the lazy dog</h2>
<h3>The quick brown fox jumps over the lazy dog</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis vel ligula id convallis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse fermentum eros vitae diam porta, et pretium orci gravida. Vestibulum id lorem arcu. Fusce ligula sapien, facilisis sed viverra ac, tincidunt sed mauris. Integer velit nisl, tempus pulvinar ante vitae, sagittis pulvinar lectus. Pellentesque pellentesque massa sed mattis feugiat.
</p>

<div id="news-article-container">
    <!-- News articles dynamically added here in sitecontroller.js -->
</div>

    



