@{
    ViewBag.Title = "Home";
}
<img id="home-image" src="/Content/images/layout/banner-placeholder1.png" alt="home banner image"/>
<div id="home-buttonbar">
    <ul>
        <li><a href="#">Donate!</a></li>
        <li><a href="#">Become a Camper!</a></li>
        <li><a href="#">Volunteer!</a></li>
    </ul>
</div>

<div id="home-news-articles-container">
    

</div>
<div id="home-sponsors-container">
    <div id="caption">We <span id="home-heart">&hearts;</span> Our Sponsors</div>
    <div id="imagebar"><img src="/Content/images/layout/donor-banner1.png" alt=""/></div>
</div>


    



