@{
    ViewBag.Title = "Home";
}
          

<div id="content-pane">
    <div class="slider-container theme-default">
        <div class="ribbon"></div>

        <div id="slider" class="nivoSlider">
            <img class="slide-image" src="/Content/images/slides/R111_0009.png" alt="" title="#slidecaption1" />
            <img class="slide-image" src="/Content/images/slides/R222_0007.jpg" alt="" title="#slidecaption2"  />
            <img class="slide-image" src="/Content/images/slides/R333_0023.png" alt=""  title="#slidecaption3"  />
            <img class="slide-image" src="/Content/images/slides/R333_0137.png" alt="" title="#slidecaption4"  />
            <img class="slide-image" src="/Content/images/slides/RAAd_0308.png" alt=""  title="#slidecaption5"  /> 
            <img class="slide-image" src="/Content/images/slides/RANG_0195.png" alt=""   title="#slidecaption1" /> 
            <img class="slide-image" src="/Content/images/slides/RGT3_1035.png" alt=""  title="#slidecaption2"  /> 
            <img class="slide-image" src="/Content/images/slides/RGTJuly13_3944.png" alt=""  title="#slidecaption3"  /> 
            <img class="slide-image" src="/Content/images/slides/RQQQ_0343.png" alt=""  title="#slidecaption4"  /> 
            <!-- Samples from nivo
            <a href="http://dev7studios.com"><img src="/Content/images/slides/toystory.jpg" alt="" title="#htmlcaption" /></a>
            <img src="/Content/images/slides/up.jpg" alt="" title="This is an example of a caption" />
            <img src="/Content/images/slides/walle.jpg" alt="" />
            -->
        </div>
        <div id="slidecaption1" class="nivo-html-caption">
            "I can think of no better gift than hope and friendship ... the knowledge they're not alone" Beef, Camp Director
        </div>
        <div id="slidecaption2" class="nivo-html-caption">
            "Camp is a safe haven where kids can check cancer at the door for a week" Rocksie, longtime volunteer
        </div>
        <div id="slidecaption3" class="nivo-html-caption">
            "Camp allows them to be kids again" Loop, sibling and current volunteer
        </div>
        <div id="slidecaption4" class="nivo-html-caption">
            "For once, the cancer didn't matter ..." Alyssa, former sibling camper & current volunteer
        </div>
        <div id="slidecaption5" class="nivo-html-caption">
            "Supernovas of Joy (SNOJs) explode at camp" Mooselips, 30 year volunteer
        </div>
    </div>

        <div id="index-page-article">
        <h1>Hey Rat City Roller Girls fans!</h1>
        Thanks for stopping by.  Please join roller derby athlete Courtney Large​ in supporting Camp Goodtimes, a summer camp for children with cancer, young cancer survivors, and their siblings. 
        For 30 years, Camp Goodtimes was operated by a large national organization as a cost-free summer camp to help children affected by cancer re-capture the joys of childhood. That funding was recently eliminated and volunteers stepped in to keep camp going.​ Our goal is to raise $500,000 to keep camp operating, and so far we've raised $150,000.  We need your help.
        </div>

        <div id="index-page-article">
        <h1>Thank You!</h1>
        ​Huge SNOJ (supernovas of joy) to all of our donors, sponsors, volunteers, families, and well-wishers as we enter the year as the new locally​-based, grass-roots operators of ​CAMP GOODTIMES.

        <h2>You make camp happen!  Happy New Year!</h2>
            <div style="text-align: center">oh, and it's never too late to give . . .</div>
            <a id="big-link" href="@Url.Action("DonateNow", "Home")">Donate Here</a>
        </div>

    <div id="feed-list">

    </div>

    <div id="footer"></div>
</div>