@{
    ViewBag.Title = "InKind";
}

<div id="donation-inkind-holder">
    <h1>In-Kind Donations</h1>
<p>In-kind donations of materials are always appreciated to support our camps. &#160;Here&#39;s a&#160;list of some of the items we need to create a magical place for the kids each summer. Contact&#160;us&#160;at<span style="line-height: 1.6;">&#160;</span><a href="mailto:info@thegoodtimesproject.org" style="line-height: 1.6;">info@thegoodtimesproject.org</a>&#160;if you can help.</p>
<p>Thank you!</p>
<h2>Arts &amp; Crafts</h2>
<ul>
   <li>Paints-tempura</li>
   <li>Markers-Washable, and Permanent</li>
   <li>Beads</li>
   <li>Lanyard material</li>
   <li>Name tags - leather or wood</li>
   <li>Scissors - multiple pairs per year</li>
   <li>Puff paint -&#160;approx.&#160;30 bottles per year</li>
   <li>Plain t-shirts</li>
   <li>Plain pillow cases</li>
   <li>Duct tape in different prints and colors</li>
   <li>Variety of projects (bird houses, build your own toy, etc.)-TBD</li>
   <li>Miscellaneous arts and craft supplied</li>
   <li>Stamps</li>
   <li>Leather working</li>
   <li>Woodworking / instruments</li>
</ul>
<h2>Carnival</h2>
<ul>
   <li>Whipped Cream (15 cases)</li>
   <li>Hair Spray-Graftobian, approx. 60 bottles per summer</li>
   <li>Cotton Candy Supplies-cones, sugars</li>
   <li>Snow cone supplies-cups, syrups, pumps, ice</li>
   <li>Bouncy Games – Currently donated by Bellevue Rotary</li>
   <li>Prizes – Currently donated by Starlight &amp; Kodiak Family&#39;s business</li>
</ul>
<h2>Staff and kids</h2>
<ul>
   <li>Staff T-shirts-approx. 175 per year</li>
   <li>Kid t-shirts-approx 300 per year</li>
   <li>Sweatshirts-approx. 180 per year</li>
   <li>Swag</li>
   <li>Snacks – Currently donated by Kellogg</li>
   <li>Drinks (soft drinks, sports drinks, water)</li>
   <li>Water Bottles</li>
   <li>Refrigerators</li>
   <li>Dry Erase </li>
</ul>
<h2>Boata (the boat to Vashon Island)</h2>
<ul>
   <li>Arts and Crafts supplies</li>
</ul>
<h2>Entertainment</h2>
<ul>
   <li>Variety depending on theme and what is available – Dance group, story tellers, actors, etc.</li>
   <li>DJ for Boata</li>
   <li>DJ for Dance</li>
</div>
