@{
    ViewBag.Title = "Newsletter";
}

<div id="newsletter-container">
<iframe id="newsletter" src="http://www.slideshare.net/slideshow/embed_code/29933270" 
    frameborder="0" 
    marginwidth="0" 
    marginheight="0" 
    scrolling="no"> 
</iframe> 
<div id="newsletter-caption"> 
    <strong> 
        <a href="https://www.slideshare.net/GoodtimesWineAuction/winter-2014-newsletter-29933270" title="Winter 2014 newsletter" target="_blank">Winter 2014 newsletter</a>
    </strong> 
    from 
    <strong>
        <a href="http://www.slideshare.net/GoodtimesWineAuction" target="_blank">GoodtimesWineAuction</a>
    </strong> 
</div>

</div>