<div id="footer-container">
    <div id="footer-sociallinks">
        <span>social links placeholder</span>
    </div>
    <div id="footer-signature"><span>Designer-Jacob Greif, Developer-Mike Dice</span></div>
</div>