<div id="page-header">
    <div class="page-header-row">
        <div id="left-col" class="page-header-cell">
            <a id="goodtimes-link" href="#">
                <img src="/Content/images/layout/Goodtimesbanner-new.png" />
            </a>
        </div>
        <div id="right-col" class="page-header-cell">
            <ul>
                <li><a class='noDonate' href="#">WHO WE ARE</a></li>
                <li><a class='noDonate' href="#">WHAT WE DO</a></li>
                <li><a class='noDonate' href="#">NEWS</a></li>
                <li><a class='noDonate' href="#">CONECT</a></li>
                <li><a class='donate' href="#">DONATE</a></li>
            </ul>
        </div>
    </div>
</div>
